.balance {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.right {
    text-align: right;
}

.total {
    color: #33a;
}

.debit {
    color: #3a3;
}

.credit {
    color: #d33;
}

.accountList {
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
}

.accountList td:nth-child(2) {
    text-align: right;
}
