.balance {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 3vw;
    margin-bottom: 0;
}

.balance table {
    width: 100%;
    vertical-align: middle;
}

.balance table td {
    padding: 0 3vw;
}

.right {
    text-align: right;
}

.total {
    color: #33a;
}

.debit {
    color: #3a3;
}

.credit {
    color: #d33;
}
