.transaction {
    table-layout: fixed;
    width: 100%;
    font-size: 5.2vw;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.2vw;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.src {
    composes: truncate;
    font-size: 3.5vw;
    text-align: right;
    width: 40%;
    height: 3.5vh;
}

.dest {
    composes: truncate;
    width: 60%;
}

.amount {
    text-align: right;
    width: 40%;
    height: 4vh;
}

.date {
    composes: truncate;
    color: #555;
    width: 60%;
    font-size: 3.5vw;
    height: 3.5vh;
}

.income {
    color: #3a3;
}

.expense {
    color: #f33;
}

.transfer {
    color: #33a;
}

.unknown {
    color: #777;
}

.currency {
    font-size: 4vw;
    color: #999;
}

