.transaction {
    table-layout: fixed;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dest {
    composes: truncate;
    width: 60%;
    padding-top: 0.4rem;
}

.amount {
    text-align: right;
    width: 40%;
    padding-top: 0.4rem;
}

.date {
    composes: truncate;
    color: #555;
    width: 60%;
    font-size: 0.65em;
    padding-bottom: 0.4rem;
}

.src {
    composes: truncate;
    color: #555;
    font-size: 0.75em;
    text-align: right;
    width: 40%;
    padding-bottom: 0.4rem;
}


.income {
    color: #3a3;
}

.expense {
    color: #d33;
}

.transfer {
    color: #33a;
}

.unknown {
    color: #777;
}

.currency {
    font-size: 0.75em;
    color: #999;
}

